@media only screen and (max-width: 678px) {
  .sider {
    position: relative;
    left: -200px
  }

  .mobile-side {
    display: block !important;
    position: fixed !important;
    top: 50%;
    left: 1vw;
  }

  .mobile-side .icon-side {
    font-size: 35px;    
    background: hsla(155, 87%, 37%, 0.824);
    border-radius: 0.5rem;
    cursor: pointer;
    color: white !important;
    transition: all 0.5s;
  }

  .sider .side-close {
    display: block !important;
    position: fixed !important;
    right: calc(100% - 25%);
  }

  .sider .side-close button {
    border: none;
    width: fit-content;
    padding: 3px 10px 7px 10px;
    background: hsla(155, 87%, 37%, 0.824);
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    display: none;
  }
}

@media screen and (max-width: 727px) {
  .sider .inner-content .inner-item p {
    display: none;
  }

  .sider .inner-content .inner-item {
    justify-content: center;
  }
}

@media screen {
  .sider {
    background: #fff;
    width: 17.8%;
    float: left;
    height: 100vh;
    position: fixed;
    padding-top: 15px;
    left: '0%',
  }

  .mobile-side {
    display: none;
  }

  .sider .side-close {
    display: none;
  }
}

.sider .inner-content {
  font-size: larger;  
}

.sider .inner-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.sider .inner-content .inner-item {
  display: flex;
  align-items: center;
  gap: 15px;
  width: calc(100% - 15px);
  height: 50px;
  padding-left: 15px;
  transition: all 0.2s;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.sider .inner-content .inner-item:hover {
  background: #0cb16cd2;
  transition: all 0.2s;
  border-radius: 0.5rem;
}

.sider .inner-content .sign-out{
  position: absolute;
  bottom: 3vh;
}

.sider {
  z-index: 999;
}