.sider {
  position: fixed;
  overflow: auto;
  width: 17.8%;
  height: 1024px;
  background: #fff;
}

.sider .inner-logo {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.sider .inner-logo a {
  text-decoration: none;
  margin-right: 10px;
}

.sider .inner-content {
  position: relative;
  width: 80%;
}

.sider .inner-content div {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  transition: all 0.2s ease-out;
}

.sider .inner-content div p {
  margin-left: 10px;
  font-weight: 600;
}

.sider .inner-content div:hover {
  background: #91D9B5;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.sider .inner-content .sign-out{
  position: absolute;
  bottom: -280px;
  max-width: 250px;
  width: 100%;
}